*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    
    overflow-x: hidden;
}

input[type=text],  select{

    width: 100%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 20px;
    resize: vertical;
}
label{
    margin-top: 30%;
    padding-top: 20px;
}
button[type=submit] {
    width: 100%;
    font-size: 18px;
    letter-spacing: 1px;
    background-color: #011f26;
    color: #F0810F;
    padding: 12px 20px;
    margin-bottom: 30px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type=submit]:hover{
   opacity: 0.8;
}

.container{
    width: 30%;
    margin: 0 auto;
    align-items: center;
    border-radius: 5px;
    padding-top: 80px;
}

/* Style the header */
header {
    background-color: rgb(23, 15, 245);
    padding: 30px;
    text-align: left;
    font-size: 35px;
    color: white;
  }
/* Style the footer */
  #scroll-container {
    border: 3px solid black;
    border-radius: 5px;
    overflow: hidden;
  }
  
  #scroll-text {
    /* animation properties */
    -moz-transform: translateX(100%);
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    
    -moz-animation: my-animation 30s linear infinite;
    -webkit-animation: my-animation 30s linear infinite;
    animation: my-animation 30s linear infinite;
  }
  
 
  @-webkit-keyframes my-animation {
    from { -webkit-transform: translateX(100%); }
    to { -webkit-transform: translateX(-100%); }
  }
  
  @keyframes my-animation {
    from {
      -moz-transform: translateX(100%);
      -webkit-transform: translateX(100%);
      transform: translateX(100%);
    }
    to {
      -moz-transform: translateX(-100%);
      -webkit-transform: translateX(-100%);
      transform: translateX(-100%);
    }
  }

  .words-scanned {
    margin: 1.5rem 0;
  }

  .words-scanned ~ p {
    margin-bottom: 1.5rem;
  }